/* inter font-family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* variables */
:root {
  --dark-black: #292929;
  --light-black: #2f2f2f;
  --lighter-black: #404040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  background-color: var(--lighter-black);
}

input {
  padding: 1.3rem 1.5rem;
  border-radius: .5rem;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: .9rem;
}

input[type='submit'] {
  cursor: pointer;
  background-color: var(--dark-black);
  color: white;
}

.separator {
  height: .1rem;
  background-color: rgba(255, 255, 255, .5);
}

.header {
  background-color: var(--dark-black);
  padding: 1.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--links {
  display: flex;
  column-gap: 2rem;
}

.header--link {
  list-style: none;
  cursor: pointer;
  padding: .5rem;
}

.login {
  display: flex;
  justify-content: center;
}

.login--form {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  width: 100%;
}

.login--form--heading {
  font-weight: bold;
  color: white;
}

.login--form form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 20%;
  align-items: center;
}

.login--form--input {
  width: 100%;
}

.login--form--submit {
  width: 100%;
  background-color: var(--dark-black);
  color: white;
}

.profile {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
}

.profile--greeting {
  color: white;
}

.profile--row {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

.profile--input {
  flex: 5;
}

.profile--submit {
  flex: 1;
}

.profile--separator {
  width: 2%;
  align-self: center;
}

.profile--form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.update-pass {
  flex: 2;
}